html, body {
  /*padding: 40px;*/
}

head

{
 font-family:'Oxygen'; 
}

h1{
	font-size: 15pt;
	margin-bottom: 30px;
	font-family:'Oxygen';
	color: #202020;
    letter-spacing: 0.1em;
	text-decoration:none;

}

.paragraphtxt{
  font-family:'Oxygen';
  font-size: 16pt;
  text-align: left;
  
  }

h5 {
font-size: 16pt;
font-family:'Oxygen';
letter-spacing: 0.2em;
  
 }
 
  /* a {
	font-size: 20px;
	margin-bottom: 30px;
	font-family:'Oxygen';
	font-color: #000000;
    text-decoration: none;
	letter-spacing: 0.1em;
}
*/

#header{
	width: 100%; 
	height: 300px; 
	background-color:#FFE500;

} 

#tbox {
	color: #282828;
    width: 200px;
    height: 50px;
    background: #FFE500;
    pointer-events: none;
    position: relative;
    top: 38px;
    padding: 10px, 60px;
}

#tboxtxt{
	text-align: center;
	font-weight: bold;
    font-family:'Oxygen';
    font-size: 18pt;
	letter-spacing: 0.2em;
	padding-top:  10px;
	margin-left: auto;
	margin-right: auto;
}



.menu table{
	position:fixed; 
	right:0px; 
	top: 0px;
	z-index: 2;
    background-color: #FFE500;
    
    
} 

#menu2{
	position:fixed; 
	right:0px; 
	top: 0px;
	z-index: 1;
    background-color:#FFE500;
    width: 100%;
	pointer-events: none;
    height: 30px;

}
.menu a{

		color:black;
		font-family:'Oxygen';
		font-size: 11pt; 	
		padding: 20px; 
		text-align: right
}

.menu a:hover{
		text-decoration: none;
		color:red;
		font-family:'Oxygen';
		font-size: 11pt; 

}


.firstLabel {
    margin-right: 10px;
}

 
#map_canvas {
    margin: 0;
    padding: 0;
   	height: 100%;
    }


#logo_FS {
	
padding-top: 100px;
max-width:497px;
width:100%
	

}

#FixStockholm_image
{

max-width:365px;
width:100%

}

#logo_btn {
	position: absolute;
	top: 3%;
	left: 3%;

}

#pencil {
	position: absolute;
	right: 0%;
	bottom: 60%;
	z-index: 3;
	height: 30%;
}

#screwdriver {
	position: absolute;
	left: 35%;
	top: 0%;
	z-index: 2;
	height: 24%;
	}




.review{
    position:relative;
	text-align:left;
	padding: 10px;
	margin-bottom: 20px;
	margin-right: auto;
	margin-left: auto;
}


.image {
	background-color: #E8E8E8;
	padding: 15px;
	width: 100%;
	}

#map{

	position: auto;
	margin:50px;
	width: 80%;
	height: 400px;

}

.infowindow{
	width: 150px; 
	max-width: none;
	max-height: auto; 
	margin-left: auto;
    margin-right: auto;
    font-size:24pt;
    font-family:'Oxygen';
    text-align: center;

}

.pic {
    width: 100px;
    min-height: auto;
    max-height: 150px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
    }

p {
	text-align:  left;
	padding-left: 12px;
	font-family: 'Oxygen';
	font-size:11pt;
	color: #202020;
}

.gmnoprint img { max-width: none; }

#report {
    margin-left: auto;
    margin-right: auto;
    }











