html, body {
  /*padding: 40px;*/
}

head

{
 font-family:'Myriad'; 
}

h1 {
  font-size: 50px;
  margin-bottom: 30px;
  font-family:'Myriad';

}

h3 {
  font-family:'Myriad';
  font-weight: light;

}
    
#header{
	width: 100%; 
	height: 350px; 
	background-color: #FFFF33;
} 
.menu table{
	

	position:absolute; 
	right:50px; 
	top: 50px;

} 

.menu a{
		color:#ff0066;
		font-family:'Myriad Pro';
		font-size: 15px; 	
		padding: 10px; 
}
.menu a:hover{
		/* background-color: white; */
		text-decoration: none;

}


.firstLabel {
    margin-right: 10px;
}

 
#map_canvas {
    margin: 0;
    padding: 0;
   	height: 100%;
    }

#logo_btn {
	position: absolute;
	top: 3%;
	left: 3%;

}

#pencil {
	position: absolute;
	right: 0%;
	bottom: 60%;
	z-index: 2;
	height: 40%;
}

#screwdriver {
	position: absolute;
	left: 35%;
	top: 0%;
	z-index: 2;
	height: 24%;
	}


.span4{
width: 50%; 
	max-height: auto; 
	background-color: #E8E8E8;
	text-align:  left;
	padding: 10px;
	margin-bottom: 20px;

}


.image {
    width: 100px;
    min-height: auto;
    max-height: auto;
    float: left;
    padding: 10px;
   	margin-bottom:10px; 

    }

#map{

	position: auto;
	margin:50px;
	width: 80%;
	height: 400px;

}

.infowindow{
	width: 150px; 
	max-width: none;
	max-height: auto; 
	margin-left: auto;
    margin-right: auto;
    font-size:24px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;

}

.pic {
    width: 100px;
    min-height: auto;
    max-height: 150px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
    }

p {
	text-align:  left;
	padding-left: 10px;
	font-family: myriad 
	font-size: 11pt;

}

.gmnoprint img { max-width: none; }











